.firstpage {
    text-align: center;
    background-image: url("/images/h_img.jpg");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 500px;
    padding-top: 150px;

}

.about {
    text-align: center;
    height: 250px;
    background-color: yellow;
    padding-top: 30px;
}

h2 {
    font-weight: bolder;
}